@charset "UTF-8";

@media all and (max-width:1270px){
    #main .portfolio .wrap .gap .container .left .txt-wrap {margin-top:100px;}
    #main .portfolio .wrap .gap .container .left .s356 {margin-top:40px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {padding-top:50px;}
    #main .portfolio .wrap .gap .container .right .img-wrap div a {width:100%;max-width:600px;/* height:100%;max-height:582px; */}

}

@media all and (max-width:1170px){
    #main .portfolio .wrap .gap .container {height:100%;}
    #main .portfolio .wrap .gap .container .left {float:none;}
    #main .portfolio .wrap .gap .container .right {float:none;}


    /* #main .portfolio .wrap .gap .container .left .txt-wrap {margin-top:100px;}
    #main .portfolio .wrap .gap .container .left .s356 {margin-top:40px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {padding-top:50px;}
    #main .portfolio .wrap .gap .container .right .img-wrap div a {width:100%;max-width:600px; height:100%;max-height:582px;} */

}

@media all and (max-width:1000px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:70px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:22px;}
}

@media all and (max-width:905px){
    #nav .wrap .gap {margin:0;}
    #nav .wrap .gap .container > ul > li {margin:0;}

}

@media all and (max-width:780px){
    #nav {height:auto;top:0;background:rgba(22,22,22, .9);height:100%;min-height:100%;overflow-y:auto;}
    #nav .wrap .gap {margin:0;padding:124px 0 30px 0;}
    #nav .wrap .gap .container > ul  {display:block;text-align:center;}
    #nav .wrap .gap .container > ul > li {display:block;margin:10px 0;}
    #nav .wrap .gap .container > ul > li > a {padding:0;font-size:25px;line-height:30px;background-color:transparent;color:#939597;}

    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:60%;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:60px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:20px;}

}

@media all and (max-width:600px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:80%;left:120px;}

}

@media all and (max-width:500px){
    #header .wrap .header-gap .container > ul > li:nth-child(1) h2 {display:none;}
    
    #main .title h5 {font-size:13px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:100%;left:0;text-align:center;}

}

@media all and (max-width:400px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:50px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:16px;}

}

