@charset "UTF-8";

@media all and (max-width:1270px){
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {padding-top:50px;}
    #main .portfolio .wrap .gap .container .right .img-wrap div a {width:100%;max-width:600px;}

}

@media all and (max-width:1170px){
    #main .portfolio .wrap .gap .container {text-align:center;}
    #main .portfolio .wrap .gap .container .left {float:none;}
    #main .portfolio .wrap .gap .container .left .txt-wrap {padding-top:50px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {padding-top:20px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt .btn-wrap {margin:0 auto;}
    #main .portfolio .wrap .gap .container .right {float:none;}

}

@media all and (max-width:1070px){
    #footer .content .content-gap .left-wrap {width:40%;}
    #footer .content .content-gap .right-wrap {text-align:left;width:53%}
    #footer .content .content-gap .right-wrap .row1 div {width:290px/* 47.170041% */;}
    #footer .content .content-gap .right-wrap .row1 div span {display:block;margin-right:0;margin-bottom:15px;}
    #footer .content .content-gap .right-wrap .row1 div span:last-child {margin-bottom:0;}

}

@media all and (max-width:1000px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:70px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:22px;}

    #main #section3 .wrap .gap .content ul li {width:33.333%;}
    #main #section3 .wrap .gap .content ul li .gap2 .box-wrap .name h3 {font-size:calc(2.1529vw*2);}
}

@media all and (max-width:905px){
    #nav .wrap .gap {margin:0;}
    #nav .wrap .gap .container > ul > li {margin:0;}

}

@media all and (max-width:780px){
    #nav {height:auto;top:0;background:rgba(22,22,22, .9);height:100%;min-height:100%;overflow-y:auto;}
    #nav .wrap .gap {margin:0;padding:124px 0 30px 0;}
    #nav .wrap .gap .container > ul  {display:block;text-align:center;}
    #nav .wrap .gap .container > ul > li {display:block;margin:10px 0;}
    #nav .wrap .gap .container > ul > li > a {padding:0;font-size:25px;line-height:30px;background-color:transparent;color:#939597;}

    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:60%;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:60px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:20px;}

    #main #section3 .wrap .gap .content ul li {width:50%;}
    #main #section3 .wrap .gap .content ul li .gap2 .box-wrap .name h3 {font-size:calc(2.1529vw*3);}
}

@media all and (max-width:650px){
    #main .portfolio .wrap .gap .container .left .title-wrap .title h3 {font-size:27px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {font-size:50px;}

    #footer .content .content-gap .left-wrap {float:none;width:100%;text-align:center;margin-bottom:25px;}
    #footer .content .content-gap .left-wrap h2 {width:100%;text-align:center;}
    #footer .content .content-gap .right-wrap {float:none;width:100%;text-align:center;}
}

@media all and (max-width:600px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:80%;left:120px;}

}

@media all and (max-width:530px){
    #main .portfolio .wrap .gap .container .left .title-wrap .title h3 {font-size:22px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt h2 {font-size:40px;}
    #main .portfolio .wrap .gap .container .left .txt-wrap .txt p {font-size:13px;}
}

@media all and (max-width:500px){
    #header .wrap .header-gap .container > ul > li:nth-child(1) h2 {display:none;}
    
    #main .title h5 {font-size:13px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title {width:100%;left:0;text-align:center;}

    #main #section3 .wrap .gap .content ul li {width:100%;}
    #main #section3 .wrap .gap .content ul li .gap2 .box-wrap .name h3 {font-size:calc(2.1529vw*6);}
    #main #section3 .wrap .gap .content ul li .gap2 .box-wrap .name span img {width:100%;max-width:80px;}
    #main #section3 .wrap .gap .content ul li:nth-child(2) .gap2 .box-wrap .name img {width:100%;max-width:63px;}
}

@media all and (max-width:480px){
    #main #section4 .wrap .gap .container .left .txt-wrap .txt p br {display:block;}
}

@media all and (max-width:450px){
    #main #section5 .wrap .gap .container .left .txt-wrap .txt p br {display:block;}
}

@media all and (max-width:400px){
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap div span {font-size:50px;}
    #main #section1 .wrap .gap .container .content .section1-bg .main-title .title-wrap .title3 span {font-size:16px;}
    
    #main #section8 .wrap .gap .container .left .txt-wrap .txt p br {display:block;}

    #footer .content .content-gap .right-wrap .row1 div {border-bottom:0;width:180px;}

}

